# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=Bella Factory test
# Need to start last to avoid gpio being occupied
After=basic.target

[Service]
Type=forking
ExecStart=/usr/local/bin/bella-factory-test start
ExecStop=/usr/local/bin/bella-factory-test stop

[Install]
WantedBy=basic.target
