# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=Bella Serial test daemon
# Need to start last to avoid gpio being occupied
After=basic.target

[Service]
Type=forking
ExecStart=/usr/local/bin/bella-serial-test-daemon start
ExecStop=/usr/local/bin/bella-serial-test-daemon stop

[Install]
WantedBy=basic.target
